
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout</title>
</head>
<body>
    <div> 
    <h2>头部</h2>
     <hr/>
    @RenderBody()
     <hr/>
    <h3>尾部</h3>
   </div>
</body>
</html>
